body, html{
    background: #a3e5ff;
    color: #ffffff;
    padding: 50px;
    font: 50px Arial, sans-serif;

}

p{
    background-color: #d4cece;
    ;
}

a{
    display: inline-block;
    padding: 40px;
    border-radius: 9999px;
    background-color: #ff5733;
    color: #ffffff;
    text-decoration: none;
    font-size: 100px;
}

a:hover{
    background-color: #c70039;
}